[submodule "cst680/AutismCNN"]
	path = cst680/AutismCNN
	url = git@github.com:Kabilan108/AutismCNN.git
[submodule "rustlings"]
	path = rustlings
	url = git@github.com:Kabilan108/rustlings.git
[submodule "bmes550/guiproject"]
	path = bmes550/guiproject
	url = git@github.com:Kabilan108/guiproject.git
