# Run this file using:
# lmp -in lammpsdemo.config

# Example adapted from: https://lammpstutorials.github.io/tutorials/01-SimpleMolecularSimulation.html


# -------------	Initialization

#"lj" represents "unitless"
units		lj

#2D simulation
dimension 	2

#uncharged dots with mass
atom_style	atomic

#pairwise interactions are via Lennard-Jones (van der Waals) potential, with cut-off at 2.5 units.
pair_style	lj/cut 2.5

#periodic boundary conditions
boundary	p p p


# ------------- System definition

# a region of space named 'myreg' that is a block (a rectangular cuboid), and goes from -30 to 30 along x, from -30 to 30 along y, and from -0.5 to 0.5 along z.
region		myreg block -30 30 -30 30 -0.5 0.5

# creates a simulation box based on the region 'myreg' with '2' types of atoms
create_box	2 myreg

# 1500 atoms of type1 (e.g., Carbon) and 100 atoms of type2 (e.g, Hydrogen) created randomly (341341 and 127569 are seeds for randomization)
create_atoms	1 random 1500 341341 myreg
create_atoms	2 random 100 127569 myreg


# ------------- System Definition (Atom Types & Interactions)

# To load the system definition from a file, use: 
# read_data lammpsdemo.final.txt

# Mass of atom type1 is 1.
mass		1 12
# Mass of atom type2 is 1.
mass		2 1

# Lennard-Jones coefficients (the depth of the potential well  and the distance at which the particle-particle potential energy is zero)
# Coefficients between atoms of type1.
pair_coeff	1 1 1.0 1.0
# Coefficients between atoms of type2.
pair_coeff	2 2 0.5 3.0

# Coefficients between atoms of type1 and atoms of type2 are calculated as geometric means of the coefficients for each type.


# ------------- Simulation Settings

#Report temperature and energy every 10 iterations.
thermo		10

# Perform energy minimization until one of the following criteria is reached: Change in energy in an iteration is less than e-4, maximum force between any two atoms is less than e-6, maximum number of iterations is 1000, maximum number of force/energy calculations is 10000.
minimize	1.0e-4 1.0e-6 1000 10000

# Store the locations of the atoms every 1000 iterations, so we can visualize the simulation later.
# You can visualize this file using VMD with the command: vmd lammpsdemo.snapshots.txt
# or open the file in VMD software: use type=LAMMPS trajectory and change Graphics->Representations->DrawingMethod to "VDW".
dump		mydmp all atom 1000 lammpsdemo.snapshots.txt

# Write the final structure in a file. This file could later be used as an initial state to a a new simulation.
# To use this as the initial system, replace the system definition section above with just  "read_data lammpsdemo.final.txt"
write_data	lammpsdemo.final.txt

# ------------- Molecular Dynamics Settings

# perform constant NVE integration (micro-canonical ensemble with constant number of atom , constant volume , and constant energy ) to update the positions and the velocities of the all atoms
fix		mynve all nve

# Applies a Langevin thermostat to all atoms, with a desired temperature of 1 and a damping parameter of 0.1. The number '1530917' is a randomization seed
fix		mylgv all langevin 1.0 1.0 0.1 1530917

# Ensures that the atoms remain within the 2D plane.
fix		myefn all enforce2d


# Run a total number of 10,000 steps, display progress every 1000 steps.
timestep	0.005
thermo		1000
run		10000



# Without the next line, simulation may result in "dangerous builds", where an atom moves more than expected; we need to ask LAMMPS to rebuild the neighbors list to avoid such dangerous moves.
neigh_modify 	every 1 delay 5 check yes

